[submodule "python-mode"]
	path = python-mode
	url = git://github.com/emacsmirror/python-mode.git
[submodule "emacs-for-python"]
	path = emacs-for-python
	url = git://github.com/gabrielelanaro/emacs-for-python.git
