[submodule "python-mode"]
	path = python-mode
	url = git://github.com/emacsmirror/python-mode.git
[submodule "emacs-for-python"]
	path = emacs-for-python
	url = git@github.com:simpleton/emacs-for-python.git
[submodule "markdown-mode"]
	path = markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "cedet"]
	path = cedet
	url = https://github.com/emacsmirror/cedet.git
[submodule "ede"]
	path = ede
	url = https://github.com/emacsmirror/ede.git
